

<div id="content">
    <div   [ngClass]="{
      topBig: !smallScreen,
      topSmall: smallScreen
    }" id="top">
        <app-top></app-top>
    </div>
    <ng-scrollbar [ngClass]="{margin: !smallScreen}" (mouseenter)="stopAnimation()" (mouseleave)="startAnimation()"  #scrollable
    [invertX]="invertX"
    [invertY]="invertY"
    [trackX]="true"
    [compact]="compact"
    [shown]="shown"
    [disableOnBreakpoints]="false"
    [disabled]="disabled">
      <div  [ngClass]="{
        slider: !smallScreen,
        small: smallScreen
      }" id="slider">
            <div class="movie" (deferLoad)="showItem[i]=true" class="movie" *ngFor="let movie of movieData; let i = index">
                <app-movie *ngIf="showItem[i] == true" [movie]="movie"></app-movie>
            </div>
          </div>
            
    </ng-scrollbar>

</div>

