<div id="movie">
  <div id="infoTop">
      <img id="photo" src="assets/{{movie.moviePhoto}}"/>
      <div id="info">
          <h2>{{ movie.movieTitle }}</h2>
          <span>{{ movie.movieGenres }}</span>
          <img id="more" src="assets/more.png"/>
      </div>
  </div>


  <div id="description">
    <div id="ranking">
        <img id="star" src="assets/star.png"/>
        <h2>{{ movie.movieRanking }}</h2>
    </div>
      <span id="dsc">{{ movie.movieDescription }}</span>
      
  </div>

  
</div>